#a1{
    height: 500px;
    width: 400px;
    border: 1px solid gray;
   margin-left: 400px;
   margin-top: 100px;
}
#a2{
    padding-left: 50px;
}
#a3{
    color: navy;
}
#a4{
    margin-left: 50px;
    padding-left: 140px;
    padding-top: 10px;
}
#a5{
padding: 40px;
margin-left: 50px;
}
#a6{
    padding: 10px 30px;
    margin-left: 50px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: navy;
}
#a7{
    margin-left: 50px;
}
 